@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #6f36ff;
}

.wrapper {
  background-color: #fff;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border-radius: 10px;
}

.wrapper header {
  color: #6f36ff;
  font-size: 23px;
  font-weight: 500;
  padding: 17px 30px;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper header.active {
  cursor: move;
  user-select: none;
}

.wrapper .content {
  margin: 30px 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content .icon {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #6f36ff;
}

.content .icon i {
  color: #6f36ff;
  font-size: 60px;
}

.content .title {
  font-size: 29px;
  font-weight: 500;
  margin: 15px 0px;
}

.content p {
  font-size: 16px;
  text-align: center;
}
